{% extends 'base.html' %}

{% block content %}

<div class="max-w-lg mx-auto">
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5">
        <div class="p-5">
            <a href="#">
                <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">{{ post.title }}</h5>
            </a>
            <span>by {{ post.author }} | {{ post.created_at }}</span>
            <p class="font-normal text-gray-700 mb-3">{{ post.body }}</p>
            {% if user.is_authenticated %}
            <a class="text-white bg-indigo-700 hover:bg-indigo-500 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center" href="{% url 'post_edit' post.pk %}">
                Edit Post
            </a>
            <a class="text-white bg-indigo-700 hover:bg-indigo-500 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center" href="{% url 'post_delete' post.pk %}">
                Delete Post
            </a>
            {% endif %}<br>
            <h4 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">Comments</h4>
            {% for comment in post.comment_set.all  %}
                <p> {{ comment.author }}: {{ comment }}</p>
            {% endfor %}
            
            <br>
            <hr>
            <br>
            <h4 class="text-gray-900 font-bold text-2xl">Add a comment</h4>
            {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Post comment</button>
            </form>
            {% else %}
            <p>You must be logged in to comment posts</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}