{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}Django Blog App{% endblock title %}</title>
  </head>
  <body>
    <div class="container">
    <nav>
      <div class="title">
          <h1><a href="{% url 'post_list' %}">Django Blog App</a></h1>
      </div>
      {% if user.is_authenticated %}
      <div class="nav-user-options">
        <p>{{ user.username }}</p>
        <a href="{% url 'post_create' %}" class="nav-btn">+New Post</a>
        <a href="{% url 'logout' %}" class="nav-btn">Log Out</a>
      </div>
      {% else %}
      <div class="nav-user-options">
        <a href="{% url 'login' %}" class="nav-btn">Log In</a>
        <a href="{% url 'signup' %}" class="nav-btn">Sign Up</a>
      </div>
      {% endif %}
    </nav>
      <br>
      <main>
        {% block content %}
        {% endblock content %}
      </main>
  </div>
  </body>
</html>
